.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
  }
  
  .homeHeader {
    background-color: var(--color-primary);
  }
  
  .aboutHeader {
    background-color: #F6F7A7; /* Yellow */
  }
  
  .contactHeader {
    background-color: var(--color-contact-purple);
  }
  
  .projectsHeader {
    background-color: rgba(55, 65, 210, 0.9); /* Semi-transparent blue */
  }
  
  .navList {
    display: flex;
    list-style: none;
  }
  
  .navItem {
    margin-left: 30px;
  }
  
  .navLink {
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.3s;
  }
  
  .homeHeader .navLink,
  .projectsHeader .navLink,
  .contactHeader .navLink {
    color: var(--color-secondary);
  }
  
  .aboutHeader .navLink {
    color: var(--color-primary);
  }
  
  .navLink:hover {
    opacity: 0.8;
  }
  
  @media (max-width: 768px) {
    .header {
      padding: 20px;
      justify-content: center;
    }
    
    .navItem {
      margin: 0 15px;
    }
    
    .navLink {
      font-size: 18px;
    }
  }